
body {
  max-width: 60vw;
  margin-left: 20vw;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.photogrid{

  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 50vw;
  max-height: 20vh;

}



h1{
  color: rgba(41, 111, 207, 0.753);
  text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
  }

h2{
  text-transform: uppercase;  
  font-weight: 200;
  color: rgba(41, 111, 207, 0.753);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3{
  text-transform: none;  
  font-weight: 200;
  color: rgba(41, 111, 207, 0.753);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 18px;

}

p{
  color: #1C1C1C;
  font-family: 'Manrope', sans-serif;  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: none;

}

img{
  margin-top: 5vh;
  max-width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-tog.navbar-toggler {
  border-color: rgb(255, 255, 255);
} 


li a:hover {
  background-color: rgb(207, 225, 236);
}


/*
JOSH COMEAU's resets

  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}